body {
  background: linear-gradient(#7d99c8, #e8c2c1) fixed;
  font-family: poppins;
}
a {
  color: #e8c2c1;
}
.weather-app {
  background: linear-gradient(#2a2277, #8f8dbe) fixed;
  max-width: 600px;
  margin: 100px auto;
  padding: 30px;
  border-radius: 20px;
  box-shadow: 0 30px 50px rgba(65, 50, 100, 0.08);
}
.search-form-input {
  background-color: #e8c2c1;
  border: 1px solid #e8c2c1;
  opacity: 80%;
  border-radius: 10px;
  width: 80%;
  padding: 15px;
  font-size: 20px;
  color: #7d99c8;
}
.search-form-submit {
  background-color: #f3f8f9;
  color: #2a2277;
  padding: 15px 18px;
  border-radius: 10px;
  border: 1px solid #f3f8f9;
  font-size: 18px;
  margin-left: 10px;
  cursor: pointer;
  transition: ease-in-out 200ms;
}
.search-form-submit:hover {
  background-color: #2a2277;
  color: #f3f8f9;
  border: 1px solid #7d99c8;
}
main {
  padding-top: 20px;
}
.weather-app-data {
  display: flex;
  justify-content: space-between;
}
.weather-city {
  margin: 0;
  font-size: 48px;
  line-height: 48px;
}
.weather-details {
  font-size: 15px;
  line-height: 20px;
  color: rgba(15, 14, 23, 0.9);
}
.weather-details strong {
  color: #e8c2c1;
}
.weather-app-container {
  display: flex;
}
.weather-temperature {
  font-size: 88px;
  margin-left: 6px;
  font-weight: 800px;
}
.weather-icon {
  font-size: 44px;
  margin-top: 10px;
}
.weather-unit {
  font-size: 32px;
  margin-top: 10px;
}
footer {
  border-top: 1px solid #e8c2c1;
  padding: 30px 0 0 0;
  text-align: center;
  font-size: 15px;
  color: rgba(0, 0, 0, 0.8);
}
